<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marmot.qilu.modules.comment.mapper.PostCommentMapper">

    <update id="deletePostComment">
        update post_comment
        set status = 0,
            updated_at = now()
        where id = #{commentId}
          and user_uuid = #{currUserUuid}
          and status = 1
    </update>

    <select id="selectNormalCommentsByPostId"
            resultType="com.marmot.qilu.modules.comment.vo.PostCommentListItemVO">
        select
            pc.id,
            pc.post_id as postId,
            pc.user_uuid as userUuid,
            u.nickname as nickname,
            pc.content,
            pc.created_at as createdAt
        from post_comment pc
            left join user u on pc.user_uuid = u.uuid
        where pc.post_id = #{postId}
          and pc.status = 1
        order by pc.created_at asc
    </select>

</mapper>